h1 {
    font-family: "Courier New", Courier, monospace;
    font-size: 36px;
    color: white;
    text-align: center;
    margin-top: 20px;
  }
  
  body {
    background-color: #333333;
    border: 10px solid #FF0000;
  }
  
 
  
