h1 {
    font-family: "Courier New", Courier, monospace;
    font-size: 36px;
    color: white;
    text-align: center;
    margin-top: 20px;
  }
  
  body {
    background-color: #333333;
    border: 10px solid #FF0000;
  }
  .grid {
    display: grid; /* Define o tipo de exibição como grade */
    grid-template-columns: 1fr; /* Define uma coluna de largura flexível */
    grid-template-rows: repeat(13, 1fr); /* Define sete linhas de altura flexível */
    gap: 60px; /* Define um espaçamento de 10 pixels entre as células da grade */
    margin: 40px; /* Define uma margem de 20 pixels ao redor da grade */
  }

  /* Define o estilo das células da grade */
  .grid div {
    border: 5px solid #000000; /* Borda das células */
    box-sizing: border-box ; /* Inclui a borda na largura e altura das células */
    background-color: #FFFFFF; /* Cor de fundo das células */
    text-align: center; /* Alinhamento do texto dentro das células */
  }

  /* Define o estilo dos textos das células da grade */
  .grid div span {
    position: relative;
    width: 120px; /* Largura de cada item */
    height: 120px; /* Altura de cada item */
    float: left; /* Alinha os itens à esquerda */
    border: 5px solid #000000; /* Borda dos itens */
    box-sizing: border-box; /* Inclui a borda na largura e altura dos itens */
    background-color: #FFFFFF; /* Cor de fundo dos itens */
  }
  .botao1 {
    color: red; /* Cor do texto do botão */
  }

  /* Define o estilo da classe botao2 */
  .botao2 {
    color: blue; /* Cor do texto do botão */
  }

  /* Define o estilo da classe botao3 */
  .botao3 {
    color: red;
    background-color: #000000; /* Cor do texto do botão */
  }
.botao4{

}
.botao5{

}
  /* Você pode definir mais classes para os outros botões */
  .botao6{

  }
  .botao7{
    
  }